body {
    background-color: lightgray;
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

.jumbotron {
    background-color: gray;
    color: white;
}

h2, a {
    color: salmon;
}

.card-header {
    color: gray;
    background-color: white;
    text-align: center;
}

.card-body {
    background-color: gray;
}

.employee-card {
    margin: 20px;
}